* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.content {
    padding: 1rem;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
}

.content h1{
    margin: 0;
    margin-bottom: 15px;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


